.header{
    text-align: center;
    color: cyan;
    background-color: darkgrey;
    font-size: 2em;
    margin-bottom: 15px;
    border-bottom: 2px solid blueviolet;
    border-style: double;
    border-width: 4px;
    border-color: paleturquoise;
    font-family: Arial, Helvetica, sans-serif;
}

div >p{
    color: paleturquoise;
    font-size: small;
    font-family: cursive;
}

.footer{
    padding: 20px;
    position: relative bottom;
    text-align: center;
    color: black;
    font-size: small;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}